.task {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 20px;
  margin-bottom: 2px;

  &.complete {
    background-color: $color-complete;

    &:hover {
      background-color: $color-complete;
    }
  }
  &.warning {
    background-color: $color-warning;

    &:hover {
      background-color: $color-warning;
    }
    & * {
      color: #fff !important;
    }
  }
  &.overdate {
    background-color: $color-overdate;

    &:hover {
      background-color: $color-overdate;
    }
    & * {
      color: #fff !important;
    }
  }

  &:hover {
    background-color: #f6fbff;
  }
  &:hover .delete-icon {
    outline: none;
    visibility: visible;
    opacity: 1;
  }
  & .is-completed {
    background: rgba(74, 206, 163, 0.1);
  }
  &__content {
    text-align: left;
    vertical-align: middle;
    width: 300px;
    max-width: 300px;
  }

  &__title {
    margin-right: auto;
    -webkit-box-flex: 1;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
  }
  &__des {
    margin-bottom: 0;
    font-size: 12px;
  }
  &__date {
    margin-bottom: 0;
    margin-left: auto;
  }
}
